# common
node_modules/
venv/
backend/__pycache__/
frontend/node_modules/
frontend/playwright-report/
frontend/test-results/
*.log
.env
.pytest_cache/
.databricks/

# databricks sync
frontend/
scripts/
docs/